.DS_Store
Thumbs.db
*.log
private.*
.idea
/.idea
.htaccess
nbproject/
nbproject/private/*
nbproject/private/private.xml
noaccess/
sitemap.xml
sitemap.xml.gz
vendor/*
/vendor
composer.phar
composer.lock
front/cache/*
/phpunit.xml
/.vscode